PermitRootLogin no
UsePAM yes

AllowGroups sshUsers

AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no

HostCertificate /etc/ssh/ssh_host_ed25519_key-cert.pub
TrustedUserCAKeys /etc/ssh/ktp-ssh-user-ca.pub
#TrustedUserCAKeys /etc/ssh/xv6-ssh-user-ca.pub
AuthorizedPrincipalsFile /etc/ssh/auth_principals/%u

ChallengeResponseAuthentication no
PasswordAuthentication no
PubkeyAuthentication yes